@import "_val.styl"


.normal-font
  font-family font-normal
  line-height 1.4em
  margin 0 0 1em;
  padding 0;

.display-font
  font-family font-condensed
  text-transform uppercase
  line-height 1.4em
  margin 0 0 0.2em;
  padding 0;


.display-1
  @extend .display-font
  font-size 34px
  font-weight 400

.display-2
  @extend .display-font
  font-size 45px
  font-weight 400

.display-3
  @extend .display-font
  font-size 56px
  font-weight 400

.display-4
  @extend .display-font
  font-size 112px
  font-weight:100

.title
  @extend .normal-font
  font-size 20px
  font-weight 800

.sub-heading
  @extend .normal-font
  font-size 16px
  font-weight 400

.body-1
  @extend .normal-font
  font-size 14px
  font-weight 400

.body-2
  @extend .body-1
  font-weight 800

.caption
  @extend .normal-font
  font-size 12px
  font-weight 400

.button
  @extend .normal-font
  font-size 14px
  font-weight 800